@{
    ViewData["Title"] = "Home Page";
}



My name is : @ViewBag.myName and my age is : @ViewBag.myAge years.







<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
